<% layout('layout/profile') -%>
    <% script('profile.js') -%>
    <% script('common.js') -%>
    <% script('logout.js') -%>
<h1 class="title-block__title">Welcome <%=status%>, <%=who%>, nice to meet you!</h1>