.services {
	padding: 3.25rem 0;
    padding-bottom: 4.05rem;
	align-items: center;
}
.services__list {
	padding: 0;
    display:block;
    list-style-type: none;
    width: 55.5%;
/*    width: 100%;
    margin-left: 20rem;
    margin-right: 20rem;*/
    list-style-type: none;
}
.list--services {
	margin-bottom: 1.1rem;
	box-shadow: 0 0 20px rgba(0,0,0,0.10);
    padding: 1rem;
    padding-top: 1rem;
    padding-left: 1.4rem;
    list-style-position: inside;
    border: 1px solid #fafafa;
    border-radius: 5px;
    color: $dark-blue;
}
.list__items {
    width: 100%;
/*	text-align: justify;*/
    margin: 0;
    padding: 1.2rem 0;
    padding-bottom: 0rem;
}
.items__picture {
    padding-right: 0;
	margin-top: auto;
    margin-bottom: auto;
    margin-left: 3%;
}
.items__text-container {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    padding-right: 0rem;
    padding-left: 1.7rem;
/*    padding-bottom: 1.5rem;*/
    line-height: 1.5;
}
.list__header {
    vertical-align: middle;
}
.list__header-text {
    padding-left: 1.2rem;
}
.list__cut {
    margin: 0;
    float: right;
    font-size: 25px;
}
.properties--margin {
    margin-bottom: 0;
    margin-top: 2rem;
}
.properties--word-spacing {
    word-spacing: 0.18rem;
}
.header--margin-left {
    margin-left: 1.2rem;
}
.list--statistics { 
    
}
.list--inbox {
    
}
.list--team {
    
}
.list--settings {
    
}
.list--feed {
    
}
