.description__title {
	align-items: center;
	padding: 5% 0;
	padding-top: 4.9rem;
	padding-bottom: 5.4rem;
}
.description__content {
	/*justify-content: space-between;*/
}
.content__figure {
	width: 25%;
	align-items: center;
}
.figure--center {
	padding: 0 12rem;
}
.figure__icon {
	width: 80px;
	height: 80px;
	padding: 0 0;
}
.description__button {
	align-items: center;
	padding: 4.7rem 0 6.25rem;
}
.figure__text {
	margin: 0;
	padding-top: ;
}