.contact {
	align-items: center;
	padding-top: 2.3rem;
	padding-bottom: 5rem;
	width: 100%;
}
.row--button-part {
	align-items: center;
    margin: 0 3%;
}
.contact__form {
    width: 55%;
    align-self: center;	
}
