.footer {
	padding-top: 6.1rem;
	justify-content: space-between;
	width: 100%;
}
.footer__top-part {
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	padding-bottom: 2.8rem;
}
.footer__bottom-part {
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

.top-part__logo {
}
.list-bottom {
	margin: 0;
	padding: 0;
}
.list-bottom--white-mark {
	color: #fff;
}
.list-bottom__link {
	display: inline-block;
}
.link--footer-top {
	padding-left: 2.4rem;
}
.link__footer-bottom {
	padding-right: 1.5rem;
}
.top-part__list-bottom {
    justify-content: flex-end;	
}
.bottom-part__social {
	margin-right: 0;
	align-self: flex-end;
	padding: 0;
}