.header__navigation {
	justify-content: space-between;
    padding: 0 0;
    padding-top: 2.90rem;
    padding-bottom: 10.3rem;
}
.navigation__logo {

}
.navigation__button {
	align-items: center;
}
.navigation__link-panel {
	margin-left:18.2rem; 
	margin-right: auto;
    width: 100%;
}
.navigation__link-mobile {
	display: none;
}
.link--margin-auto {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 1.4rem;
}
.header__article {
	padding: 0 0;
	justify-content: space-between;
	padding-bottom: 11.5625rem;
}
.header__video {
}
iframe {
	width: 600px;
	height: 320px;
}
.article__button {
	width: 100%;
	padding: auto 0;
	padding-bottom: 0;
}