.insides-color-line__additional-background {
	width: 100%;
	flex: 1;
}
.background--left {
	margin-right: 0;
	padding: 5% 0;
}
.background--right {
	margin-left: 0;
	padding: 5% 0;
}
.page__insides-color-line {
    max-height: 150px;
}
.insides-color-line__statistics {
	width: 100%;
}
.statistics {
    width: 25%;
    justify-content: center; 
    align-items: center;	
}
.statistics__icon {
	width: 50%;
	margin-top: auto;
    margin-bottom: auto;
    background: #ffffff no-repeat;
    border-radius: 50%;
    padding: 15px;
    width: 30px;
    height: 30px;
    margin-right: 1.5rem;
}
.statistics--downloads {
    width: 28rem;
}
.statistics--free-installs {
    width: 28rem;
}
.icon--pro-users-margin {
    margin-left: 2.5rem;
}
