.team {
	align-items: center;
	padding: 5% 0;
	padding-bottom: 0;
}
.team__gallery {
	margin-top: 5%;
}
.gallery__member {
    justify-content: center;
    align-items: center;
}
.member__social {
	width: 100%;
	align-items: center;
    justify-content: center;
}
.member__info {
	text-align: center;
}
.member__name {
	padding-top: 2.3rem;
	padding-bottom: 0.9rem;
	line-height: 1.5;
}
.member__face--face1 {
	background: url(../../images/face.jpg) no-repeat 0rem 0rem;
}
.member__face--face2 {
	background: url(../../images/face.jpg) no-repeat 0rem 0rem;	
}
.member__face--face3 {
	background: url(../../images/face.jpg) no-repeat 0rem 0rem;	
}
.member__face--OnFocus {
	height: 10rem;
	width: 10rem;
	background-size: auto 10rem;
	border: 1.25rem solid #fff;
    border-radius: 50%;
	/*padding: 1.25rem;*/
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-left: 2rem;
	margin-right: 2rem;
}
.member__face--NoFocus {
	border-radius: 50%;
	height: 6.25rem;
	width: 6.25rem;
	background-size: auto 6.25rem;
	opacity: 0.2;
}
.member__face--NoFocus ~ div > a {
	visibility: hidden;
}
.member__face--NoFocus ~ p {
	visibility: hidden;
}
.member__info--OnFocus {

}