@import url("font.css");
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #061e37;
}
.container__sign-up {
    display: flex;
    justify-content: center;
    margin: 0;
    border:2px solid #fff;
    border-radius: 5px;
    margin-top: 20vh;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.sign-up {
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.sign-up__button {
    color: #061e37;
	padding: 12px 16px;
    text-align: center;
    font-size: 15px;
    border: 2px solid #fff;
    border-radius: 2px;
    background-color: #fff;
    margin-top: 0.5rem;
    margin-left: 0;
}
.sign-up__button:hover {
    color: #fff;
    background-color: #061e37;
}
.container__registration {
    display: flex;
    justify-content: space-around;
}
.sign-up__registration-link {
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}
.sign-up__buttons {
    display: flex;
    justify-content: space-around;
}
.sign-up__text-field {
    font-family: "RalewaySemiBold";
    width: 100%;
	border: 2px solid #fff;
    border-radius: 2px;  
    margin: 0.5rem 0;
}
.fieldLabel {
    color: #fff;
}
.font--regular {
    font-family: "RalewayRegular";
}
.font--button {
    font-family: "RalewayBold";
    font-size: 18px;
}
.navigation {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.navigation__logo {
    margin-top: 1rem;
}