.header--background {
	background-image:linear-gradient(to right bottom, rgba(37,227,177,0.9) 0%,rgba(26,192,215,0.9) 100%),url("../images/bg_img_top.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.insides--description-background,
.insides--services-background,
.insides--team-background {
	background-color: #fff;
}
.background--left,
.statistics--business {
	background-color: #80d8ff;
}
.statistics--downloads {
	background-color: #82b1ff;
}
.statistics--free-installs {
	background-color: #b388ff;
}
.statistics--pro-users,
.background--right {
	background-color: #ea80fc;
}
.insides--comments-background {
	background-image:linear-gradient(to right bottom, rgba(37,227,177,0.9) 0%,rgba(26,192,215,0.9) 100%),url("../images/bg_img_middle.png");
    background-repeat: no-repeat;
    background-size:cover;
}

.insides--contact-background {
	background-color: #fafafa;
}
.insides--footer-background {
	background-color: #061e37;
}