@import url("font.css");
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #061e37;
}
.container__new-password {
    display: flex;
    justify-content: center;
    margin: 0;
    border:2px solid #fff;
    border-radius: 5px;
    margin-top: 20vh;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.container__back {
    display: flex;
    justify-content: space-around;
}
.new-password {
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.new-password__button {
    font-family: "RobotoRegular";
    font-size: 18px;
	padding: 12px 16px;
    text-align: center;
    font-size: 15px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 0.5rem;
    margin-left: 0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.new-password__button:hover {
    color: #fff;
    background-color: #061e37;
}
.new-password__back-link {
    font-family: "RalewayRegular";
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}
.new-password__buttons {
    display: flex;
    justify-content: space-around;
}
.new-password__text-field {
    font-family: "RalewaySemiBold";
    width: 100%;
	border: 2px solid #fff;
    border-radius: 2px;  
    margin: 0.5rem 0;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.fieldLabel {
    font-family: "RalewayRegular";
    color: #fff;
}