@font-face {
    font-family: "RalewayExtraBold";
    src: url("fonts/raleway/Raleway-ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RalewaySemiBold";
    src: url("fonts/raleway/Raleway-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RalewayRegular";
    src: url("fonts/raleway/Raleway-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RalewayBold";
    src: url("fonts/raleway/Raleway-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RalewayMedium";
    src: url("fonts/raleway/Raleway-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RobotoRegular";
    src: url("fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}