<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <header>
      <%-blocks.header%>
    </header>
    <section>
      <%-body -%>
      <button>Logout</button>
      <ul>
        <li><a href="/">Back to the HomePage</a></li>
        <li><a href="/users">User</a></li>
        <li><a href="/users">Change username</a></li>
        <li><a href="/users">Change password</a></li>
      </ul>
      
      
    </section>
    <footer>
      <%-blocks.footer%>
    </footer>
    <script type="text/javascript" src=""></script>
  </body>
</html>