<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <header>
      <%-blocks.header%>
    </header>
    <section>
      <%-body -%>
      <button id="logoutButton">Logout</button>
      <ul>
        <li><a href="/">Back to the HomePage</a></li>
        <li><a href="/login/users">User</a></li>
        <li><a href="/login/changeusername">Change username</a></li>
        <li><a href="/login/changepass">Change password</a></li>
      </ul>
    </section>
    <footer>
      <%-blocks.footer%>
    </footer>
    <script>
      const logout = document.getElementById('logoutButton');
      let xhr = new XMLHttpRequest();
      xhr.onload = () => {
        if (!xhr.status === 404) {
        window.location.href='/signPage';
        }
      }
      logout.addEventListener('click', () => {
        xhr.open('POST', '/logout', true);
        xhr.send();
      })
    </script>
    <script type="text/javascript" src=""></script>
  </body>
</html>