<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <header>
      <%-blocks.header%>
    </header>
    <section>
      <%-body -%>
    </section>
    <footer>
      <%-blocks.footer%>
    </footer>
  </body>
</html>