<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <%-blocks.header%>
    </header>
    <section>
      <%-body -%>
      <button id="logoutButton">Logout</button>
      <button id="userButton">User</button>
      <ul>
        <li><a href="/">Back to the HomePage</a></li>
        <!-- <li><a href="/login/users">User</a></li> -->
        <li><a href="/login/changeusername">Change username</a></li>
        <li><a href="/login/changepass">Change password</a></li>
      </ul>
    </section>
    <footer>
      <%-blocks.footer%>
    </footer>
    <script type="text/javascript" src="/profile.js"></script>
    <script type="text/javascript" src="/common.js"></script>
  </body>
</html>