<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="">
    <style type="text/css">
      .listItem {
        border-top: 2px solid #000;
        margin-bottom: 5px;
        margin-top: 5px;
      }
      .delete {
        margin: 5px;
      }
      .degrade {
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <header>
      <%-blocks.header%>
    </header>
    <section>
      <%-body -%>
      <ul id="userList" type="none">
      </ul>
      <a href="/login">Back</a>
      <div id="test"></div>
    </section>
    <footer>
      <%-blocks.footer%>
    </footer>
    <script>
      const userList = document.getElementById('userList');
      let xhr = new XMLHttpRequest();
      xhr.onload = () => {
        if (xhr.status === 200) {
          //let item = document.createElement("p");
          let answer = JSON.parse(xhr.responseText);
          console.log(answer);
          console.log(answer.length);
          if (answer.length) {
            for (let i = 0; i<answer.length; i++) {
                
                let deleteButton = document.createElement('button');
                deleteButton.textContent = 'Delete';
                deleteButton.classList.add('delete');
                deleteButton.setAttribute("data-user", answer[i].username);

                let grantButton = document.createElement('button');
                grantButton.textContent = 'GrantAdmin';
                grantButton.classList.add('grantAdmin');
                grantButton.setAttribute("data-user", answer[i].username);

                let degradeButton = document.createElement('button');
                degradeButton.textContent = 'DegradeStatus';
                degradeButton.classList.add('degrade');
                degradeButton.setAttribute("data-user", answer[i].username);

                let item = document.createElement('li');
                item.innerHTML = 'username: ' + answer[i].username + '; status: ' + answer[i].status;
                item.classList.add('listItem');
                userList.appendChild(item);
                item.appendChild(deleteButton);
                item.appendChild(grantButton);
                item.appendChild(degradeButton);
            }
          }
          else {
            let item = document.createElement('li');
            item.innerHTML = 'username: ' + answer.username + '; status: ' + answer.status;
            item.classList.add('listItem');
            userList.appendChild(item);            
          }
        }
      }
      window.addEventListener('load', () => {
        xhr.open('POST', '/userFiller', true);
        xhr.send();
      })
      let deleteUser = new XMLHttpRequest();
      let grantUser = new XMLHttpRequest();
      let degradeUser = new XMLHttpRequest();
      userList.addEventListener("click", (event) => {
        let target = event.target;
        if (target.classList.contains('delete')) {
          console.log('delete');
          deleteUser.open('POST', '/deleteUser', true);
          deleteUser.send();
        }
        if (target.classList.contains('grantAdmin')) {
          console.log('grant');
          grantUser.open('POST', '/grantUser', true);
          grantUser.send();
        }
        if (target.classList.contains('degrade')) {
          console.log('degrade');
          degradeUser.open('POST', '/degradeUser', true);
          degradeUser.send();
        }
      })
      deleteUser.onload = () => {
        if (deleteUser.status === 200) {
          window.location.href = '/login/adminPanel';          
        }
      }
      grantUser.onload = () => {
        if (deleteUser.status === 200) {
          window.location.href = '/login/adminPanel';          
        }
      }
      degradeUser.onload = () => {
        if (deleteUser.status === 200) {
          window.location.href = '/login/adminPanel';       
        }
      }
    </script>
  </body>
</html>