<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <%-blocks.header%>
    </header>
    <section>
      <%-body -%>
      <ul id="userList" type="none">
      </ul>
      <a href="/login">Back</a>
      <div id="test"></div>
    </section>
    <footer>
      <%-blocks.footer%>
    </footer>
    <script type="text/javascript" src="/userSettings.js"></script>
    <script type="text/javascript" src="/common.js"></script>
  </body>
</html>