<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="">
    <style type="text/css">
      .listItem {
        border-bottom: 2px solid #000;
      }
    </style>
  </head>
  <body>
    <header>
      <%-blocks.header%>
    </header>
    <section>
      <%-body -%>
      <ul id="userList" type="none">
      </ul>
      <a href="/login">Back</a>
      <div id="test"></div>
    </section>
    <footer>
      <%-blocks.footer%>
    </footer>
    <script>
      const userList = document.getElementById('userList');
      let xhr = new XMLHttpRequest();
      xhr.onload = () => {
        if (xhr.status === 200) {
          //let item = document.createElement("p");
          let answer = JSON.parse(xhr.responseText);
          console.log(answer);
          console.log(answer.length);
          if (answer.length) {
            for (let i = 0; i<answer.length; i++) {
                let item = document.createElement('li');
                item.innerHTML = 'username: ' + answer[i].username + '; status: ' + answer[i].status;
                item.classList.add('listItem');
                userList.appendChild(item);
            }
          }
          else {
            let item = document.createElement('li');
            item.innerHTML = 'username: ' + answer.username + '; status: ' + answer.status;
            item.classList.add('listItem');
            userList.appendChild(item);            
          }
        }
      }
      window.addEventListener('load', () => {
        xhr.open('POST', '/userFiller', true);
        xhr.send();
      })

    </script>
  </body>
</html>