<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="">
    <style type="text/css">
      .listItem {
        border-top: 2px solid #000;
        margin-bottom: 5px;
        margin-top: 5px;
      }
      .delete {
        margin: 5px;
      }
      .degrade {
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <header>
      <%-blocks.header%>
    </header>
    <section>
      <%-body -%>
      <ul id="userList" type="none">
      </ul>
      <a href="/login">Back</a>
      <div id="test"></div>
    </section>
    <footer>
      <%-blocks.footer%>
    </footer>
    <script type="text/javascript" src="/userSettings.js"></script>
    <script type="text/javascript" src="/common.js"></script>
  </body>
</html>