      <div class="navigation-header">
        <div class="navigation-header__header-content">
          <a href="/" class="header-content__home-link">
            <i class="material-icons home-link__font-image">home</i>
          </a>
          <div class="header-content__login">
<!--               <form enctype="multipart/form-data" method="post" action="/imageUpload">
                <p><input type="file" name="f">
                <input type="submit" value="Отправить"></p>
              </form>  -->
            <span class="login__name"><%=who%></span>
            <!-- <div class="login__profile-image"></div> -->
            <button id="logoutButton" class="login__out-button">Logout</button>
          </div>
        </div>
      </div>