.contact__form {
    max-width: 37.5rem;
}
.form {
    padding-top: 3.0rem;
    
}
.form__row {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.2rem;
}
.row__input-first-name,
.row__input-last-name,
.row__input-email,
.row__input-phone {
    font-family: "RalewayMedium";
    color: #061e37;
    width: 80%;
    padding: 1rem 0;
    padding-left: 1rem;
    padding-right: 6.9rem;
}
.row__input-first-name {
    margin-right: 2.2rem;
}
.row__input-last-name {
}
.row__input-email {
    margin-right: 2.2rem;
}
.row__input-phone {
}
.row__input-first-name,
.row__input-last-name,
.row__input-email,
.row__input-phone,
.row__input-message,
.row__checkbox {
    background-color: transparent;
    border: 1px solid #061e37;
    border-radius: 5px;
}
.row__checkbox {
    font-family: "RalewayMedium";
    color: #061e37;
    margin: auto 0;
    margin-left: 0;
    margin-right: auto;
     align-self: flex-start;
     margin-right: 3%;
}
.row--message {
    margin-left: 0;
    margin-right: 0;
}
.row__input-message {
    width: 100%;
    min-height: 7.4rem;
    font-family: "RalewayMedium";
    color: #061e37;
    padding: 1rem 0;
    padding-left: 1rem;
}
.row--button-part {
    margin-right: 0;
    margin-left: 0;
    align-content: center;
    justify-content: space-between;
}
.row__input-submit {
    padding: 4px 6px;
    text-align: center;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 130px;
    height: 50px;
    background-color: #1de9b6;
    color: #fff;
    align-self: flex-end;
    margin-right: 0;
    margin-left: auto;
    font-family: "RalewayMedium";
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.row__input-submit:hover {
    background-color: #fff;
    color: #1de9b6;
    border: 2px solid #1de9b6;
}