.row__input-first-name,
.row__input-last-name,
.row__input-email,
.row__input-phone {
    font-family: "RalewayMedium";
    color: #061e37;
    margin: 2% 3%;
    width: 50%;
    padding: 3% 3%;
}
.row__input-first-name,
.row__input-last-name,
.row__input-email,
.row__input-phone,
.row__input-message,
.row__checkbox {
    background-color: transparent;
    border: 1px solid #061e37;
    border-radius: 5px;
}
.row__checkbox {
    font-family: "RalewayMedium";
    color: #061e37;
    margin: auto 0;
     align-self: flex-start;
     margin-right: 3%;
}
.row__input-message {
    width: 100%;
    font-family: "RalewayMedium";
    color: #061e37;
    margin: 2% 3%;
    padding: 3% 3%;
}
.row__input-submit {
    padding: 4px 6px;
    text-align: center;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 130px;
    height: 50px;
    background-color: #1de9b6;
    color: #fff;
    align-self: flex-end;
    margin-right: 0;
    margin-left: auto;
    font-family: "RalewayMedium";
}