.logo__image {
	margin-left: 0; 
    margin-right: auto;
}
.naviation__logo {
	margin-left: 0; 
    margin-right: auto;
}
.icon__image {
	display: block;
	margin: auto auto;
}
.user__image {
	margin-right: 5%;
    margin-left: 0;
}
.link__image {
	margin-top: auto;
    margin-bottom: auto;
}