.link,
.social__link {
	color: #fff;
	font-family: "RalewaySemiBold";
	text-decoration: none;
}
.link__footer {
	color: #fff;
	text-decoration: none;
}
.link {
	margin: 5% 3%;
}
.social__link {
	padding-top: 0;
    padding-bottom: 0;
    margin: 5% 3%;
}
.link--footer-social {
	margin-left: 0.4rem;
}