@media screen and (max-width: 860px) {
	.header,
	.insides__description,
	.insides-color-line__statistics,
	.insides__services,
	.insides__comments,
	.insides__team,
	.insides__contact,
	.insides__footer {
		max-width: 768px;
	}
	.navigation__link-panel {
		display: none;
	}
	.button--sign-up {
		display: none;
	}
	.header__article {
		flex-direction: column;
	}
	.article__button {
		padding-bottom: 1.5rem;
	}
	.header__video {
		/*max-height: 320px;
		height: 100%;*/
	}
	iframe {
		display: block;
		max-height: 320px;
		max-width: 600px;
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.dehaze--hover:hover {
	color: #061e37;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	}
	.navigation__link-mobile {
		display: block;
		margin-right: 1.5rem;
		margin-left: auto;
	}
	.link-menu__list {
		list-style-type: none;
		margin-top: 0;
		padding-left: 0;
	}
	.link-menu__list__item {
		border: 1px solid #fff;
		border-radius: 5px;
		padding: 1rem 0;
		background-color: #061e37;
		margin-bottom: 2px;
	}
	.navigation__link-menu {
		position: fixed;
		z-index: 10;
		width: 80%;
		height: 100%;
		right: 1px;
		margin-top: 3rem;
		background-color: transparent;
	}
	.article__title {
		text-align: center;
	}
	.article__text {
		width: 100%;
		text-align: center;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
	.article__button {
		justify-content: center;
	}
	.button--buy-now {	
	}
	.button--try-for-free {
	}
	.title__text--description {
		width: 100%;
	}
	.description__content {
		flex-direction: column;
	}
	.content__figure {
		width: 100%;
	}
	.figure--center {
		padding: 1.5rem 0;
	}
	.text--business {
		margin-right: 0.6rem;
	}
	.icon--pro-users-margin {
		margin-left: 0.6rem;
	}
	.statistics__icon {
		margin-right: 0.6rem;
	}
	.statistics--free-installs {
		width: 25%;
	}
	.statistics--downloads {
		width: 25%;
	}
	.services__text {
		width: 100%
	}
	.services__list {
		width: 100%;
	}
	.list__items {
		flex-direction: column;
	}
	.items__text-container {
		padding-left: 0;
	}
	.list--services {
		text-align: center;
	}
	.comments {
		flex-direction: column;
	}
	.comments__title {
		width: 100%;
	}
	.title__text {
		width: 100%;
		text-align: center;
	}
	.title_button {
		margin-right: auto;
		margin-left: auto;
	}
	.header--comments {
		width: 100%;
		text-align: center;
	}
	.comments__slider-block {
		width: 100%;
	}
	.slider-block__slide {
		width: 100%;
		padding-left: 0;
	}
	.team__text {
		width: 100%;
	}
	.member__text {
		width: 100%;
	}
	.contact__text {
		width: 100%;
	}
	.footer {
		padding-top: 0;
	}
	.list-bottom__link {
		display: block;
		padding-bottom: 0.6rem;
	}
	.contact__form {
		width: 90%;
	}
	.form {
		width: 100%;
	}
	.form__row {
		flex-direction: column;
		padding: 0;
		margin: 0;
	}
	.row--button-part {
		flex-direction: row;
	}
	.row__input-first-name, 
	.row__input-last-name,
	.row__input-email,
	.row__input-phone,
	.row__input-message {
		margin: 0;
		margin-bottom: 0.6rem;
		padding: 1rem 0;
		padding-left: 0.2rem;
		width: 100%;
	}
}