@media screen and (max-width: 481px) {
	.navigation__link-panel {
		display: none;
	}
	.button--sign-up {
		display: none;
	}
	iframe {
		display: none;
		width: 480px;
		order: 1;
	}
	.header,
	.insides__description,
	.insides-color-line__statistics,
	.insides__services,
	.insides__comments,
	.insides__team,
	.insides__contact,
	.insides__footer {
		max-width: 425px;
	}
	.article__title {
		text-align: center;
	}
	.article__text {
		width: 100%;
		text-align: center;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
	.article__button {
		justify-content: center;
	}
	.button--buy-now {	
	}
	.button--try-for-free {
	}
	.title__text--description {
		width: 100%;
	}
	.description__content {
		flex-direction: column;
	}
	.content__figure {
		width: 100%;
	}
	.figure--center {
		padding: 1.5rem 0;
	}
	.services__text {
		width: 100%
	}
	.services__list {
		width: 100%;
	}
	.list--services {
		text-align: center;
	}
	.comments {
		flex-direction: column;
	}
	.comments__title {
		width: 100%;
	}
	.title__text {
		width: 100%;
	}
	.title_button {
		margin-right: auto;
		margin-left: auto;
	}
	.header--comments {
		width: 100%;
		text-align: center;
	}
	.comments__slider-block {
		width: 100%;
	}
	.slider-block__slide {
		width: 100%;
		padding-left: 0;
	}
	.team__text {
		width: 100%;
	}
	.member__text {
		width: 100%;
	}
	.contact__text {
		width: 100%;
	}
}