body {
  width: 100%;
  height: 100%;
  margin: 0;
}
nav {
}
header p,h1 {
    color: #ffffff;
}
header p {

}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.container2 {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;   
}
.move_5p {
    padding: 5% 0;
}
.move_item {
    width: 100%;
}
.move_item > button {
    margin-right: 3%;
}
.move_item > a {
    margin: 5% 3%;
}
.flex_container_row {
    display: flex;
    flex-direction: row;
    position: relative;
}
.borderlist {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    padding: 3%;
    list-style-position: inside;
    border: 1px solid #fafafa;
    border-radius: 5px;
    font-family: "RalewayBold";
    color: #061e37;

}
.flex_container_column {
    display: flex;
    flex-direction: column;
    position: relative;
}

.flex_item_sb {
    justify-content: space-between;
}

.flex_item_fs {
    justify-content: flex-start;
}
.flex_item_center {
    justify-content: center;
}
.easy_div {
    align-items: center;
}
.title_goes_here > p {
    text-align: center;
}
.title_goes_here {
    width: 25%;
}
.title_goes_here > figcaption {
    margin: 5% auto 5%;
    font-family: "RalewaySemiBold";
}
.title_goes_here > .image_div {
    width: 80px;
    height: 80px;   
}
.title_goes_here > .image_div > img {
    margin-top: auto;
    margin-bottom: auto;
    /*margin: auto auto;*/
   /* width: auto;
    max-height: 100%;
    height: 100%;
    max-width: 100%;*/
}
.gallery  div {
    justify-content: center;
}
.stats > div {
    width: 25%;
    justify-content: center; 
    align-items: center;
}
.stats > div > div {
    width: 50%;
}
.stats > div > .image_div {
    /*margin-top: auto;
    margin-bottom: auto;*/
    background: #ffffff no-repeat;
    border-radius: 50%;
    padding: 10px;
    width: 25px;
    height: 25px;
    margin-right: 3%;
}
.stats > div > .image_div > img {
    margin-top: auto;
    margin-bottom: auto;
    /*margin: auto auto;
    width: 100%;
    max-height: 100%;
    height: auto;
    max-width: 100%;*/
    /*background: #ffffff no-repeat;
    border-radius: 50%;
    padding: 10px;*/
}
.stats p {
    color: #ffffff;
    font-family: "RalewayExtraBold";
}
.ul_list {
    display:block;
    list-style-type: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.ul_list > li {
    margin-bottom: 3%;
}
.ul_list > li > div {
   /* margin: 5% 3%;*/
    text-align: justify;
}
.ul_list > li > div > .image_div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3%;
    margin-right: 3%;
}
.ul_list > li > div > p {
    margin-right: 3%;
}
/*.ul_list:nth-child(1) { поправить селекторы
    list-style-image: url("../images/list_ico/statistics_ico.png");
}
.ul_list:nth-child(2) {
    list-style-image: url("../images/list_ico/inbox_ico.png");
}
.ul_list:nth-child(3) {
    list-style-image: url("../images/list_ico/team_ico.png");
}
.ul_list:nth-child(4) {
    list-style-image: url("../images/list_ico/settings_ico.png");
}
.ul_list:nth-child(5) {
    list-style-image: url("../images/list_ico/feed_ico.png");
}*/
#li1 { /*поправить селекторы*/
    list-style-image: url("../images/list_ico/statistics_ico.png");
}
#li2 {
    list-style-image: url("../images/list_ico/inbox_ico.png");
}
#li3 {
    list-style-image: url("../images/list_ico/team_ico.png");
}
#li4 {
    list-style-image: url("../images/list_ico/settings_ico.png");
}
#li5 {
    list-style-image: url("../images/list_ico/feed_ico.png");
}
.button_option {
    padding: 16px 16px;
    text-align: center;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 150px;
    height: 55px;
    /*max-width: 150px;
    width: auto;
    max-height: 55px;
    height: auto;*/
    /*background:transparent;*/
}

.arrow {
    margin-left: 50%;
    margin-right: auto;
    outline: none;
    border: 0;
    background: transparent;
}
.sign_up_but {
    border-radius: 2px;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    width: 80px;
    height: 25px;
    /*max-width: 80px;
    width: auto;
    max-height: 25px;
    height: auto;*/
    font-size: 8px;
    padding: 6px 6px;
    font-family: "RalewayRegular"; 
}
.buy_now_but {
    background-color: #061e37;
    color: #ffffff;
}

.try_for_free_but {
    background-color: #ffffff;
    width: 160px;
    height: 55px;
    /*max-width: 160px;
    width: auto;
    max-height: 55px;
    height: auto;*/
    color: #061e37;
}

.get_started_but {
    background-color: #1de9b6;
    color: #ffffff;
}
.send_form_but {
    padding: 4px 6px;
   background-color: #1de9b6;
   color: #ffffff;
   width: 130px;
   height: 50px;
   align-self: flex-end;
   margin-right: 0;
   margin-left: auto;
   /*max-width: 130px;
   width: auto;
   max-height: 35px;
   height: auto;*/
}

.foot_color {
    background-color: #061e37;
}

.bg_color_1 {
    background-color: #ffffff;
}

.bg_color_2 {
    background-color: #fafafa;
}
.bg_left {
    background-color: #80d8ff;
    margin-right: 0;
    width: 100%;
    flex:1;
}
.bg_right {
    background-color: #ea80fc;
    margin-left: 0;
    width: 100%;
    flex:1;
}
.stat1 {
    background-color: #80d8ff;  
}

.stat2 {
    background-color: #82b1ff;    
}

.stat3 {
    background-color: #b388ff; 
}

.stat4 {
    background-color: #ea80fc;
}

.bg_img1 {
    background-image:linear-gradient(to right bottom, rgba(37,227,177,0.9) 0%,rgba(26,192,215,0.9) 100%),url("../images/bg_img_top.png");
    background-repeat: no-repeat;
    /*background-width:auto;
    background-height:100%;*/
    background-size:cover;
}
.bg_img2 {
    background-image:linear-gradient(to right bottom, rgba(37,227,177,0.9) 0%,rgba(26,192,215,0.9) 100%),url("../images/bg_img_middle.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.text_comment_block > h2 {
    color: #ffffff;
}
.text_comment_block > p {
    width: 100%;
    color: #ffffff;
}
.comment_block {
    background-color: #ffffff;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 3% 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 85%;
}
.comment_block > span {
    font-family: "RalewayBold";
}
input {
    background-color: transparent;
    border: 1px solid #061e37;
    border-radius: 5px;
}
h1, h2 {
    margin: 0;
}
h1 {
    font-family: "RalewayExtraBold";
}
h2,h3 {
    font-family: "RalewaySemiBold";
}
p {
    font-family: "RalewayRegular";
    color: #061e37;
}
a {
    color: #ffffff;
    font-family: "RalewaySemiBold";
    text-decoration: none;
}
a:link { 
}
a:visited {
}
a:active {
    color: #061e37;
}
a:hover {
    text-decoration: underline;
}
button:not(.sign_up_but) {
    font-family: "RalewayMedium";
}
button:active {
    
}
button:focus {

}
button:hover {

}

#user_mess {
    width: 100%;
}
[type = "button"] {
    font-family: "RalewayMedium";
}
[type = "submit"] {
}
[type = "text"] {
    font-family: "RalewayMedium";
    color: #061e37;
    margin: 2% 3%;
    width: 50%;
    padding: 3% 3%;
}
[type = "checkbox"] {
    font-family: "RalewayMedium";
    color: #061e37;
    margin: auto 0;
     align-self: flex-start;
     margin-right: 3%;
}
.form_bottom {
    /*padding-top: 0;
    padding-bottom: auto;*/  
    /*justify-content: flex-end; */
    align-items: center;
    margin: 0 3%;
}
.hideElement {
    display: none;
}
.smokeElement {
    opacity: 0.25;
}
.clearElement {
    opacity: 1;
    width:50%;
}
.image_div {
    width: 100%;
    padding: 0 0;
/*    margin-left: auto;
    margin-right: auto;*/
}
.image_div>img:not(.logo) {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}.gallery {
    margin-top: 5%;
}
.gallery >div {
    /*padding: auto 0;*/
}
.gallery > div > p {
    text-align: center;
}
.slider {
    width: 100%;
}
.slider > div {
    width: 100%;
}
.slider > div > .image_div {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    width: 20%;
    height: 20% ;
    padding: 0;

}
.slider > div > .image_div > img {
    margin-right: 5%;
    margin-left: 0;
}
#subs_label {
    font-family: "RalewayMedium";
     align-self: flex-start;
     margin: auto 0;
}
.button_top_block {
}
.text_top_block {
    align-self : left; 
    width : 80%; 
    margin-top : auto; 
    margin-bottom : auto;
}
.text_contact_block {
    width: 100%;
}
.text_contact_block > p {
    width: 50%;
    text-align: center;
}
.text_contact_block > form {
    width: 60%;
    align-self: center;
}
.button_top_block > button {
    align-self: flex-end;
}
.link_container {
    text-align: center; 
    margin-top: auto; 
    margin-bottom: auto;
}
.logo {
     margin-left: 0; 
    margin-right: auto;
}
#footer_link_container {
    justify-content: flex-end;
}
.social {
    align-items: center;
    justify-content: center;
    align-content: center;
}
.social > a {
    padding-top: 0;
    padding-bottom: 0;
}
.social > a > img {
    margin-top: auto;
    margin-bottom: auto;
}

/*.round_image {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    background: url() no-repeat -70px 0;
    background-size: auto 200px;
}
*/