body {
  width: 100%;
  height: 100%;
  margin: 0;
}
nav {
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.container2 {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    
}
.flex_container_row {
    display: flex;
    flex-direction: row;
    position: relative;
}
.borderlist {
    list-style-position: inside;
    border: 1px solid #061e37;
    border-radius: 5px;
    font-family: "RalewayBold";
    color: #061e37;

}
.flex_container_column {
    display: flex;
    flex-direction: column;
    position: relative;
}

.flex_item_sb {
    justify-content: space-between;
}

.flex_item_fs {
    justify-content: flex-start;
}
.flex_item_center {
    justify-content: center;
}
.easy_div {
    align-items: center;
}
.title_goes_here > p {
    text-align: center;
}
.title_goes_here > figcaption {
    margin: 0 auto 5px;
    font-family: "RalewaySemiBold";
}
.gallery  div {
    justify-content: center;
}
.stats > div {
    width: 25%;
}
.stats > div > div {
    width: 50%;
}
.stats > div > .image_div {
    margin-top: auto;
    margin-bottom: auto;
  /*  display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;*/
}
.stats > div > .image_div > img {
    background: #ffffff no-repeat;
    border-radius: 50%;
    padding: 10px;
}
.stats p {
    color: #ffffff;
    font-family: "RalewayExtraBold";
}
.ul_list {
    display:block;
    list-style-type: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.ul_list 
/*.ul_list:nth-child(1) { поправить селекторы
    list-style-image: url("../images/list_ico/statistics_ico.png");
}
.ul_list:nth-child(2) {
    list-style-image: url("../images/list_ico/inbox_ico.png");
}
.ul_list:nth-child(3) {
    list-style-image: url("../images/list_ico/team_ico.png");
}
.ul_list:nth-child(4) {
    list-style-image: url("../images/list_ico/settings_ico.png");
}
.ul_list:nth-child(5) {
    list-style-image: url("../images/list_ico/feed_ico.png");
}*/
#li1 { /*поправить селекторы*/
    list-style-image: url("../images/list_ico/statistics_ico.png");
}
#li2 {
    list-style-image: url("../images/list_ico/inbox_ico.png");
}
#li3 {
    list-style-image: url("../images/list_ico/team_ico.png");
}
#li4 {
    list-style-image: url("../images/list_ico/settings_ico.png");
}
#li5 {
    list-style-image: url("../images/list_ico/feed_ico.png");
}
.button_option {
    padding: 16px 16px;
    text-align: center;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    max-width: 150px;
    width: auto;
    max-height: 55px;
    height: auto;
    /*background:transparent;*/
}

.arrow {
    outline: none;
    border: 0;
    background: transparent;
}
.sign_up_but {
    border-radius: 2px;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    max-width: 60px;
    width: auto;
    max-height: 25px;
    height: auto;
    font-size: 8px;
    padding: 8px 6px;
    font-family: "RalewayRegular"; 
}
.buy_now_but {
    background-color: #061e37;
    color: #ffffff;
}

.try_for_free_but {
    background-color: #ffffff;
    max-width: 160px;
    width: auto;
    max-height: 55px;
    height: auto;
    color: #061e37;
}

.get_started_but {
    background-color: #1de9b6;
    color: #ffffff;
}
.send_form_but {
    padding: 4px 6px;
   background-color: #1de9b6;
   color: #ffffff;
   max-width: 130px;
   width: auto;
   max-height: 35px;
   height: auto;
}

.foot_color {
    background-color: #061e37;
}

.bg_color_1 {
    background-color: #f0e9dd;
}

.bg_color_2 {
    background-color: #f0e0dd;
}
.bg_left {
    background-color: #80d8ff;
    margin-right: 0;
    width: 100%;
    flex:1;
}
.bg_right {
    background-color: #ea80fc;
    margin-left: 0;
    width: 100%;
    flex:1;
}
.stat1 {
    background-color: #80d8ff;  
}

.stat2 {
    background-color: #82b1ff;    
}

.stat3 {
    background-color: #b388ff; 
}

.stat4 {
    background-color: #ea80fc;
}

.bg_img {
    background-image:linear-gradient(to right bottom, rgba(28,234,190,0.6) 0%,rgba(26,192,215,0.6) 100%),url("../images/bg_img_top.png");
    background-size:100%;
}
.comment_block {
    background-color: #f0e9dd;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px 10px;
}
input {
    background-color: transparent;
    border: 1px solid #061e37;
    border-radius: 5px;
}
h1, h2 {
    margin: 0;
}
h1 {
    font-family: "RalewayExtraBold";
}
h2,h3 {
    font-family: "RalewaySemiBold";
}
p {
    font-family: "RalewayRegular";
    color: #061e37;
}
a {
    color: #ffffff;
    font-family: "RalewaySemiBold";
    text-decoration: none;
}
a:link { 
}
a:visited {
}
a:active {
    /*color: #061e37;*/
}
a:hover {
    text-decoration: underline;
}
button:not(.sign_up_but) {
    font-family: "RalewayMedium";
}
button:active {
    
}
button:focus {

}
button:hover {

}
[type = "button"] {
    font-family: "RalewayMedium";
}
[type = "text"] {
    font-family: "RalewayMedium";
    color: #061e37;
}
[type = "checkbox"] {
    font-family: "RalewayMedium";
    color: #061e37;
}
.hideElement {
    display: none;
}
.smokeElement {
    opacity: 0.25;
}
.clearElement {
    opacity: 1;
    width:50%;
}
.image_div {
    width: 100%;
    padding: 0 0;
/*    margin-left: auto;
    margin-right: auto;*/
}
.image_div>img {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
.gallery > div > p {
    text-align: center;
}
.slider > div > .image_div {
    margin-top: auto;
    margin-bottom: auto;
}
#subs_label {
    font-family: "RalewayMedium";
}
/*.round_image {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    background: url() no-repeat -70px 0;
    background-size: auto 200px;
}
*/