body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}
.flex_container_row {
    display: flex;
    flex-direction: row;
    position: relative;
}
.borderlist {
    list-style-position: inside;
    border: 1px solid #061e37;
    border-radius: 5px;

}
.flex_container_column {
    display: flex;
    flex-direction: column;
    position: relative;
}

.flex_item_sb {
    justify-content: space-between;
}

.flex_item_fs {
    justify-content: flex-start;
}

.easy_div {
    align-items: center;
}
.title_goes_here > figcaption {
    margin: 0 auto 5px;
}

.stats > div {
    width: 25%;
}
.ul_list {
    list-style-type: none;
}
#stat_li {
    list-style-image: url("../images/list_ico/statistics_ico.png");
}
#inbox_li {
    list-style-image: url("../images/list_ico/inbox_ico.png");
}
#team_li {
    list-style-image: url("../images/list_ico/team_ico.png");
}
#sett_li {
    list-style-image: url("../images/list_ico/settings_ico.png");
}
#feed_li {
    list-style-image: url("../images/list_ico/feed_ico.png");
}
.button_option {
    padding: 16px 16px;
    text-align: center;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 150px;
    height: 55px;
    /*background:transparent;*/
}

.arrow {
    outline: none;
    border: 0;
    background: transparent;
}

.sign_up_but {
    border-radius: 2px;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    width: 60px;
    height: 25px;
    font-size: 8px;
    padding: 8px 6px;
    font-family: "RalewayRegular"; 
}

.image_option {
    background:transparent;
    height: auto;
    width:auto;
}

.buy_now_but {
    background-color: #061e37;
    color: #ffffff;
}

.try_for_free_but {
    background-color: #ffffff;
    width: 160px;
    height: 55px;
    color: #061e37;
}

.get_started_but {
    background-color: #1de9b6;
    color: #ffffff;
}
.send_form_but {
    padding: 4px 6px;
   background-color: #1de9b6;
   color: #ffffff;
   width: 130px;
   height: 35px;
}

.foot_color {
    background-color: #061e37;
}

.bg_color_1 {
    background-color: #f0e9dd;
}

.bg_color_2 {
    background-color: #f0e0dd;
}

.stat1 {
    background-color: #80d8ff;
}

.stat2 {
    background-color: #82b1ff;
}

.stat3 {
    background-color: #b388ff;
}

.stat4 {
    background-color: #ea80fc;
}

.bg_img {
    background-image:linear-gradient(to right bottom, rgba(28,234,190,0.6) 0%,rgba(26,192,215,0.6) 100%),url("../images/bg_img_top.png");
    background-size:100%;
}
.comment_block {
    background-color: #f0e9dd;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px 10px;
}
input {
    background-color: transparent;
    border: 1px solid #061e37;
    border-radius: 5px;
}
h1, h2 {
    margin: 0;
}
h1 {
    font-family: "RalewayExtraBold";
}
h2,h3 {
    font-family: "RalewaySemiBold";
}
p {
    font-family: "RalewayRegular";
    color: #061e37;
}
a:link {
    font-family: "RalewaySemiBold";
    text-decoration: none;
    color: #ffffff;
}
a:visited {
    font-family: "RalewaySemiBold";
    text-decoration: none;
    color: #ffffff;
}
a:active {
    font-family: "RalewaySemiBold";
    text-decoration: none;
    color: #061e37;
}
a:hover {
    font-family: "RalewaySemiBold";
    text-decoration: underline;
    color: #ffffff;
}
button:not(.sign_up_but) {
    font-family: "RalewayMedium";
}
button:active {
    
}
button:focus {

}
button:hover {

}
[type = "button"] {
    font-family: "RalewayMedium";
}
[type = "text"] {
    font-family: "RalewayMedium";
    color: #061e37;
}
[type = "checkbox"] {
    font-family: "RalewayMedium";
    color: #061e37;
}
