.text--regular {
	font-family: "RalewayRegular";
}
.text--semi-bold {
	font-family: "RalewaySemiBold";
}
.text--extra-bold {
	font-family: "RalewayExtraBold";
}
.text--medium {
	font-family: "RalewayMedium";
}
.text--bold {
	font-family: "RalewayBold";
}
.text--white {
	color: #fff;
}
.text--dark-blue {
	color:#061e37;
}
.text--light-gray {
	color: #78909c;
}
.text--gray {
	color: #b0bec5;
}
.text--semi-gray {
	color: #90a4ae;
}
.text--15px {
	font-size: 15px;
}
.text--55px {
	font-size: 55px;
}
.text--45px {
	font-size: 45px;
}
.text--25px {
	font-size: 25px;
}
.text--20px {
	font-size: 20px;	
}
.text--18px {
	font-size: 18px;
}
.text--center {
	text-align: center;
}
.article__title {
	margin: 0;
}
.article__text { 
    width: 80%; 
    margin-top: auto; 
    margin-bottom: auto;
}
.header--description {
	margin: 0;
}
.title__text {

}
.figure__label {
	 margin: 5% auto 5%;
}
.figure__text {
	text-align: center;
}
.value__text {

}
.services__title {
	
}
.items__properties {
	margin-right: 3%;
}
.header--comments {

}
.title__text {
	padding-bottom: 10%;
	width: 100%;
}
.comment__text {

}
.member__text {
	text-align: center;
}
.contact__text {
	width: 50%;
    text-align: center;
}
.row__checkbox-label {
     align-self: flex-start;
     margin: auto 0;
}